name: neural_graph
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

  formgen:
    path: ./packages/formgen/

  # MobX
  mobx: ^2.0.0-nullsafety.6
  flutter_mobx: ^2.0.0-nullsafety.3

  # Tools
  flutter_hooks: ^0.16.0
  freezed_annotation:
  uuid: ^3.0.0
  get_it: ^6.0.0
  intl: ^0.17.0
  logger: ^1.0.0
  google_fonts: ^2.0.0
  flutter_webrtc: ^0.6.0

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2
  url_strategy: ^0.2.0

  artemis:
    git:
      url: https://github.com/glynskyi/artemis
      ref: c769cb40a8ea0ab856da0c0e5fbdd8e368ed529b
  gql_websocket_link:
    git:
      url: https://github.com/gql-dart/gql
      ref: ce1b68b814ddf8b1056e9bc6b9a1146c2cc25d18
      path: ./links/gql_websocket_link
  json_annotation:
  equatable:
  meta:
  gql: ^0.13.0-nullsafety.2

dev_dependencies:  
  flutter_test:
    sdk: flutter
  test:
  # fvm flutter pub run build_runner watch --delete-conflicting-outputs
  build_runner:
  json_serializable:
  mobx_codegen: ^2.0.0-nullsafety.2
  freezed:
  lint: ^1.0.0
  integration_test:

  formgen_generation:
    path: ./packages/formgen_generation/

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  # To add assets to your application, add an assets section, like this:
  assets:
    - google_fonts/
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
